03_Machine_learning/Coursera/02_Deep_learning/C4W2_ResNet+TransferLearning/01_ResidualNetworks/resnet50.h5 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C4W3_ImageDetect+Segment/01_YOLO_ImgDetection+Localization/model_data/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C4W4_FaceRecog+NeuralStyleTransfer/01_FaceRecognition/keras-facenet_tf23/variables/variables.data-00000-of-00001 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C4W4_FaceRecog+NeuralStyleTransfer/01_FaceRecognition/keras-facenet-h5/model.h5 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C4W4_FaceRecog+NeuralStyleTransfer/02_NeuralStyleTransfer/pretrained-model/imagenet-vgg-verydeep-19.mat filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C4W4_FaceRecog+NeuralStyleTransfer/02_NeuralStyleTransfer/pretrained-model/vgg19_weights_tf_dim_ordering_tf_kernels_notop.h5 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W2_NLP/01_GLoVe_DeBias/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W2_NLP/02_TransferLearning_Embedding/data/glove.6B.50d.txt filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W3_Seq2Seq/02_SpeechRecogTriggerWord/XY_train/X.npy filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W3_Seq2Seq/02_SpeechRecogTriggerWord/XY_dev/X_dev.npy filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W4_Transformer/02_PositionalEncoding/glove/glove.6B.100d.txt filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W4_Transformer/03_NameEntityRecognition/model/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W4_Transformer/04_QuestionAnswering/model/tensorflow/tf_model.h5 filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/02_Deep_learning/C5W4_Transformer/04_QuestionAnswering/model/pytorch/pytorch_model.bin filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/03_GAN/C2W1_Evaulation/01_FrechetDistance/fid_images_tensor.npz filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/03_GAN/C2W1_Evaulation/01_FrechetDistance/inception_v3_google-1a9a5a14.pth filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/03_GAN/C2W1_Evaulation/01_FrechetDistance/celeba/img_align_celeba.zip filter=lfs diff=lfs merge=lfs -text
03_Machine_learning/Coursera/03_GAN/C2W1_Evaulation/02_PerceptualPathLength/vgg16-397923af.pth filter=lfs diff=lfs merge=lfs -text
